/* common css */
*{
    margin: 0;
    padding: 0;
    
}

.full_width{
    width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}


/* common css end */
.banner{
    background-color: #01253f;
    padding-top: 30px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
}

.banner_text{
    width: 530px;
    padding-left: 50px;
}

.banner_text h3{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.banner_text p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;

}
.button{
    margin-top: 30px;
    margin-bottom: 30px;
}
.button a{
    text-decoration: none;
    background-color: #1171b6;
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
    
}

.button a:hover{
    background-color: white;
    color: black;
    transition: all linear 1s;
    tr
}

.banner_image img{
    padding-top: 60px;
    padding-left: 70px;
}

/* upcomming part */
/* extra media */
.teb_upcomming{
    display: flex;
}
.bw_01{
    opacity: 0;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;
}
.bw_01 a{
    width: 190px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    background-color: #1171b6;
    color: white;
    border: 1 px solid black;
    padding: 10px 25px;
}

.bw_01 a:hover{
    background-color: navy;
    transition: all linear 1s;
}

.brn_01{
    opacity: 0;
    margin: 0 auto;
    padding-top: 50px;
}
.brn_01 a{
   
    width: 190px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    background-color: #1171b6;
    color: white;
    border: 1 px solid black;
    padding: 10px 25px;
}
.brn_01 a:hover{
    background-color: navy;
    transition: all linear 1s;
}
/* extra media end*/
.upcomming{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}
.match_cat{
    width: 250px;
    height: 200px;
    background-color: #01253f;
    border-radius: 15px;
    text-align: center;
}
.category{
    padding-top: 10px;
    padding-bottom: 30px;
}
.category  a {
    width: 190px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #161616;
    padding: 10px 25px;
}

.category a:hover{
    background-color: #DD0000;
    transition: all linear 1s;
    color: white;
}
.cat_button{
    
    margin-top: 30px;
}

.blog{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:26px ;
}
.blog_detail{
    margin-left: 10px;
    padding-bottom: 30px;
    width: 300px;

    border-radius: 5px;
    border: 1px solid #E8E8E8;
}
.blog_image img{
    width: 300px;
}
.blog_text_btn{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog_text a{
    text-decoration: none;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 400;
    color: #161616;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
}

.blog_text_btn a:hover{
    background-color: #DD0000;
    color: white;
    transition: all linear 1s;
}

.blog_text p{
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    color: #161616;
    font-family: 'Roboto', sans-serif;
}

.icon{
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
}

.msg_icon{
    padding-left: 20px;
}

.tebbtn{
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: navy;
    width: 100px;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 20px;
}
/* footer */
.footer{
    width: 100%;
    margin-top: 70px;
    
    background-color:#01253f ;
}

.footer_text{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 40px;
    color: #FFFFFF;
}

.hr{
    border: 1px solid #FFFFFF;
   
}

.footer_menu{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


.footer_menu ul{
    list-style-type: none;
}

.footer_menu ul li{
    display: inline-block;
}
.footer_menu ul li a{
    text-decoration: none;
    padding-left: 30px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;

}

.footer-social{
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px;
}
.footer-social a{
  color: white;
}

/* media query */



@media only screen and (min-width:688px)and
(max-width:992px)
{
.banner{
    width: 688px;
}


.match_cat{
   display: none;

}



.blog{
   
    grid-template-columns: repeat(2, 1fr);
    
}

.footer_menu{
    width: 50%;
}
}



/* upcomming part */
.match_content{
    display: flex;
    padding-left: 40px;
    padding-top: 40px;
}
.vs{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.match_blog{
    display: flex;
    
}

.blog_match{
    margin-left: 10px;
    padding-bottom: 30px;
    width: 300px;

    border-radius: 5px;
    border: 1px solid #E8E8E8;
}

.match_blog_text{
    text-align: center;
    padding-top: 20px;
}
.match_blog_text h3{
    font-size: 20px;
    font-weight: 600;
    color: #161616;
    font-family: 'Roboto', sans-serif;

}

.match_blog_text p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
    font-family: 'Roboto', sans-serif;

}

.upcosub{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:26px ;
}

/* media query */



@media only screen and (min-width:688px)and
(max-width:992px)
{
.banner{
    width: 688px;
}
.brn_01{
    opacity: 100%;
}

.match_cat{
   display: none;

}

.tebbtn{
    opacity: 100%;
}

.blog{
   
    grid-template-columns: repeat(2, 1fr);
    
}

.footer_menu{
    width: 50%;
}

.upcosub{
    grid-template-columns: repeat(2, 1fr);
}
}

.footer_text{
    text-align: justify;
    padding-left: 25%;
    
 }

 .footer-social{
   text-align: justify;
   padding-left: 25%;
 }
/* mobile */

@media only screen and (max-width: 600px) {

    .bw_01{
       opacity: 100%;
    }
    .blog{
   
        grid-template-columns: repeat(1, 1fr);
        
    }
    
    .footer_menu{
        width: 30%;
    }
    
    .upcosub{
        grid-template-columns: repeat(1, 1fr);
    }

    .banner{
        width: 40%;
        flex-direction: column-reverse
        ;
    }
    
.blog{
    display: grid;
    flex-direction: row-reverse;
}
    .match_cat{
   
    display: none;
    
    }

    .banner_text{
        width: 40%;
        padding-left: 50px;
    }
    
    .banner_text h3{
        font-size: 30px;
        color: #FFFFFF;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }

    .footer_text{
       text-align: justify;
       padding-left: 120px;
       
    }
  }
